
# Ignore output files from Open MC simulation
geometry.xml
materials.xml
settings.xml
statepoint*
summary*
tallies.out
tallies.xml
plot*

# Ignore  file from openMC plotter 
plot_settings.pkl

__pycache__


# ignore every files in lib/cross_sections
lib/cross_sections/*