
# Ignore output files from Open MC simulation
geometry.xml
materials.xml
settings.xml
statepoint*
summary*
tallies.out
tallies.xml
plot*

# Ignore  file from openMC plotter 
plot_settings.pkl

__pycache__


# ignore every files in lib/cross_sections
lib/cross_sections/*

# dont ignore plots with xy xz and yz views
plot_xy.png
plot_xz.png
plot_yz.png


# tracks_file
tracks.h5