
# Ignore output files from Open MC simulation
geometry.xml
materials.xml
settings.xml
statepoint*
summary*
tallies.out
tallies.xml


# Ignore  file from openMC plotter 
plot_settings.pkl

__pycache__